



li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: blue;
}





ul {
	
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}



}

.right{
text-align:right;		
}

.Itemgroup{

width:600px;
display:inline-block;
height: 140px;
font-size: 30px;
}

.align{
    display:inline;
}

.border{
    border:5px solid black;
    outline-color: orange;
    font-size:30px;
    text-align: center;
}

img {
    width:400px;
    height:300px;
}


body {
    background-color: gray;
}
#align{
	margin-left:200px;
}

a:link, a:visited {
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}


a:hover, a:active {
    background-color: red;
}
</style>
</head>
<body>

<a href="default.asp" target="_blank">This is a link</a>

</body>
</html>


<div class= "Itemgroup">
    <p><font size="=+1"><right><u>Other</u></right></font></p>
    <!-- <ul style="list-style-type:none"> -->
    <div><right><a href="/listing?type=textbooks">Textbooks</right></a></div>
    <div><a href="/listing?type=notebooks">Notebooks</a></div>
    <div><a href="/listing?type=pencils">Pencils</a></div>
</div>  
</div>





/*Creating navigation bar















