


.center{
text-align:center;	
}


.right{
text-align:right;		
}

.Itemgroup{
/*border:1px solid black;*/
width:500px;
display:inline-block;	
}


.Itemgroup2{
/*border:1px solid black;*/
width:500px;
display:inline-block;	
}


.Itemgroup3{
/*border:1px solid black;*/
width:500px;
display:inline-block;	
}



div {
    height: 120px;
    width: 500px;
  
}

body {
    background-color: gray
    ;
}

/*.pink{
color:pink;	
}
*/
