



li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: blue;
}





ul {
	
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}



}

.right{
text-align:right;		
}

.Itemgroup{

width:600px;
display:inline-block;
height: 140px;
font-size: 30px;
}

.align{
    display:inline;
}

.border{
    border:5px solid black;
    outline-color: orange;
    font-size:30px;
}

img {
    width:400px;
    height:300px;
}


body {
    background-color: gray;
}
#align{
	margin-left:200px;
}




/*Creating navigation bar















