

<!DOCTYPE html>

<head>


<title>{{ Title }}</title>

<link rel="stylesheet" href="/resources/about.css">


<h1><center>About Us</center> </h1>

<br>
<!-- name,school, major, and classification -->

<br>



<br>

<p> </p>






<br> 

<center>
<div class= "us"> 
<img src = "/resources/jenaba.jpg">
<br>
<p>
My name is Jenaba Sow and Im attending Howard University (Freshman Class 2021). I'll be majoring in Computer Science with a possible combination in either medicine, design or music. I was born and raised in New York City, but cant wait to explore D.C. this fall ! </p>
</div>

<br>

<div class="us">
<img src = "/resources/CJ3.jpg"> 
<br>
<p>My name is Christian Judkins. I am a  freshman at Hampton University planning to major in Biology with a minor in Computer Science. I plan to one day cure many diseases and help people all over the world. </p>
</div>

<br>

<div class="us">
<img src = "/resources/Iman.jpg">
<br>

<p>My is Iman Jones.  I am from Chesapeake, Virginia and im very interested in learning lots of code in the fututre.  I plan to attend Hampton University in the fall and plan to major in Computer Information Systems.  </p>
</div>
</center>





</head>





