<head>
	<title>{{ title}}</title>
  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
</head>
<body>
<style>
body {
  background-color:#686868;
  font-family: 'Josefin Sans', sans-serif;
}
</style>
{{content}}

<form method = "POST">
  User Name
  <input Name="user_name">
  <br>
 <!--  Profile Pic
  <input Profile Picture = "form_pic">
  <br> -->
  Classification
  <input Classification = "form_classification">
  <br>
  Major
  <input Major = "form_major">
  <br>
  <input type=submit>
  