<!DOCTYPE html>
<html>
<head>
    <title>{{ wow }}</title>
    <link rel="stylesheet" href="/resources/listing.css">

</head>
<body>



<font size="+8"><font color="black"><b>Pick a category:</font>
</b><font>

<br>

<div class= "Itemgroup">
	<p><font size="=+3"><center><u>Drinks</u></center></font></p>
	<div class= "center">Soda</div>
	<div class = "center">Sports drinks</div>
	<div class= "center">Juice</div>
</div>

<div class="Itemgroup">
	<p><font size="=+3"><center><u>Food</u></center></font></p>
	<div class= "center"><a href="/listing?type=salty">Salty</a></div>
	<div class= "center">Sweet</div>
	<div class= "center">Sour</div>
</div>


<div class= "Itemgroup">
	<p><font size="=+3"><center><u>Other</u></center></font></p>
	<!-- <ul style="list-style-type:none"> -->
	<div class= "center">Textbooks</div>
	<div class= "center">Notebooks</div>
	<div class= "center">Pencils</div>
</div>	


<!-- <a href="/listing? -->




{{ content }}
</body>
</html>