<!DOCTYPE html>
<html>
<head>

    <title>{{ wow }}</title>
    <link rel="stylesheet" href="/resources/listing.css">

</head>
<body>

<div = list>
<ul>
  <li><a href="/">Home</a></li>
  <li><a href="/listing">Categories</a></li>
  <li><a href="/sales">Sales</a></li>
  <li><a href="/about">About</a></li>
</ul>
</div>



</style>
</head>
<body>




</body>


<br> 
<style>
body {
	background-color:white;
	font-family: 'Josefin Sans', sans-serif;
}
</style>


<br>

<font size="+8"><font color="black"><b>Pick a category:</font>
</b><font>



<br>



<span class= "Itemgroup">
	<p><font size="=+1"><right><u>Drinks</u></right></font></p>
	<div><a href="/listing?type=soda">Soda</a></div>
	<div><a href="/listing?type=sports drinks">Sports drinks</a></div>
	<div><a href="/listing?type=juice">Juice</a></div>
</span>


<div class="Itemgroup">
	<p><font size="=+1"><center><u>Food</u></center></font></p>
	<div><center><a href="/listing?type=salty">Salty</center></a></div>
	<div><center><a href="/listing?type=sweet">Sweet</center></a></div>
	<div><center><a href="/listing?type=sour">Sour</center></a></div>
</div>

<div class= "Itemgroup">
	<p><font size="=+1"><right><u>Other</u></right></font></p>
	<!-- <ul style="list-style-type:none"> -->
	<div><right><a href="/listing?type=textbooks">Textbooks</right></a></div>
	<div><a href="/listing?type=notebooks">Notebooks</a></div>
	<div><a href="/listing?type=pencils">Pencils</a></div>
</div>	


<!-- <a href="/listing? -->

<div class="border">
	{{ content }}
</div>	



























</html>