
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/resources/sales.css">

<style>
</style>
	<title>{{ Helloooo }}</title>
</head>
<body>

<div = list>
<ul>
  <li><a href="/">Home</a></li>
  <li><a href="/listing">Categories</a></li>
  <li><a href="/sales">Sales</a></li>
  <li><a href="/about">About</a></li>
</ul>
</div>
</body>


<div>
<body class="input">
<h1> Submission Page </h1>
<img src="http://a.fod4.com/images/GifGuide/clapping/1292223254212-dumpfm-mario-Obamaclap.gif">
<p> Hello {{ html_user }}</p>

<form method="POST">
	Item name
	<input name="form_item">
	<br>
	Category name
	<input name="form_category">
	<br>
	URL to picture
	<input name="form_url">
	<br>
	Price amount
	<input name="form_price">
	<br>
	Person_number
	<input name="form_number">
	<br>
	<input type="submit" 
	value="Submit here">
</form>
</body>
</div>
</html>