
<!DOCTYPE html>
<html>
<head>
<style>
body {
	background-color:#686868;
	font-family: 'Josefin Sans', sans-serif;
}
</style>
	<title>{{ Helloooo }}</title>
</head>
<body>
<p> Hello {{ html_user }}</p>

<form method="POST">
	Item name
	<input name="form_item">
	<br>
	Category name
	<input name="form_category">
	<br>
	URL to picture
	<input name="form_url">
	<br>
	Price amount
	<input name="form_price">
	<br>
	Person_number
	<input name="form_number">
	<br>
	<input type="submit" 
	value="Submit here">
</form>
</body>
</html>