<!DOCTYPE html>
<html>
<head>
<style>
body {
	background-color:#686868;
	font-family: 'Josefin Sans', sans-serif;
}
</style>
	<title>{{ Helloooo }}</title>
	<link rel="stylesheet" href="/resources/sales.css">
</head>
<body>
<p class="class"> Thank you for submitting.</p>
<img class="class" src= "https://media.tenor.com/images/9dac8192b4b475477730e2e00bbcabef/tenor.gif"> 
<p class="class">Here is the information that you gave us.
<div> <b><u>Item</u></b> {{ Item }}</div> 
<div><b><u>Category</u></b> {{ Category }}</div>
<div><img src= "{{ Picture }}" ></div>
<div><b><u>Price</u></b> {{ Price }}</div>
</p>
<span>
<p class="class"> <a href="/listing">Listings</a>(Click here to look at our listings)</p>
<p class="class"> <a href="/sales">Submit Again</a>(Click here to submit another item)</p>
</span>
</form>
</body>
</html>