<!DOCTYPE html>
<html>
<head>
    <title>{{ wow }}</title>
</head>
<body>



<font size="+8"><font color="blue"><u><b>Pick a category:</font>
</b></u><font>



<p><font size="=+3"><u>Drinks</u></font></p>
<ul style="list-style-type:none">
  <li>Soda</li>
  <li>Sport drinks</li>
  <li>Juice</li>
</ul>  


<p><font size="=+3"><center><u>Food</u></center></font></p>



<ul style="list-style-type:none">
  <li><center>Salty</center></li>
  <li><center>Sweet</center></li>
  <li><center>Bitter</center></li>
</ul>  

<p><font size="=+3"><u>Other</u></font></p>
<ul style="list-style-type:none">
  <li>Textbooks</li>
  <li>Pencil</li>
  <li>Notebooks</li>
</ul>  



{{ content }}
<img src = "http://wiki.teamliquid.net/commons/images/thumb/f/fd/Team_Random_logo.png/600px-Team_Random_logo.png"></img> 
</body>
</html>