<!DOCTYPE html>
<html>
<head>
    <title>{{ wow }}</title>
</head>
<body>



<font size="+8"><font color="pink"><u><b>Pick a category:</font>
</b></u><font>




<p><font size="=+3"><center><u>Drinks</u></center></font></p>
<div style="text-align:center">Soda</div>
<div style="text-align:center">Sports drinks</div>
<div style="text-align:center">Juice</div>


<p><font size="=+3"><center><u>Food</u></center></font></p>
<div style="text-align:center">Salty</div>
<div style="text-align:center">Sweet</div>
<div style="text-align:center">Sour</div>


<p><font size="=+3"><center><u>Other</u></center></font></p>
<ul style="list-style-type:none">
<div style="text-align:center">Textbooks</div>
<div style="text-align:center">Notebooks</div>
<div style="text-align:center">Pencils</div>







{{ content }}
</body>
</html>